.container {
  width: 70%;
  margin: 50px;
  text-align: center;
}

.nav-color {
  background-color: #576F72;
  font-family: 'Wendy One', sans-serif;
}

.nav-text-color {
  color: #F0EBE3;
  font-size: 25px;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #DAE2B6;
}

h1 {
  margin: 30px;
  font-family: 'Wendy One', sans-serif;
  color: #C21010;
  font-size: 50px !important;
}

p {
  font-size: 25px;
  color: #E64848;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
}

img {
  width: 80%;
}

.btn-roll {
  background-color: #576F72 !important;
  border: none !important;
  font-family: 'Lato', sans-serif !important;
}

.btn-roll:hover {
  background-color: #7D9D9C !important;
}

footer {
  margin-top: 5%;
  color: #F0EBE3;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  background-color: #576F72;
  padding-bottom: 10px;
}

i {
  margin: 10px;
}

@media (max-width: 500) {

  .container {
    width: 90%;
  }

  img {
    padding: 1rem;
    width: 10%;
  }

  p {
    font-size: 3rem;
  }

  footer {
    font-size: 150%;
  }

}